.container-preview {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--variantBlue);
}

.container-preview .container-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 90vw;
  background-color: var(--myWhite);
}

.container-preview .container-imgs h2 {
  text-align: center;
  margin-bottom: 15px;
}

.container-preview .container-imgs ul {
  height: 85%;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
}

.container-preview .container-imgs ul li {
  border: 1px solid var(--myBlack);
}

.img-one {
  background-image: url("/imgs/pic-1.png");
  background-size: cover;
}

.img-two {
  background-image: url("/imgs/pic-2.jpg");
  background-size: cover;
}

.img-three {
  background-image: url("/imgs/pic-3.jpg");
  background-size: cover;
  background-position: center;
}

.img-four {
  background-image: url("/imgs/pic-4.jpg");
  background-size: cover;
  background-position: center;
}

.img-five {
  background-image: url("/imgs/pic-5.jpg");
  background-size: cover;
}

.img-six {
  background-image: url("/imgs/main-foto.jpg");
  background-size: cover;
  background-position: center;
}
